.imageBox {
  max-width: 100px;
}

.image {
  width: 100%;
}

.similar {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3333333%;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 700;
}

.closeBtn {
  margin-bottom: 5;
}

.similarContainer {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}